.carousel {
    overflow: hidden !important;
}
.carousel div div div img {
    object-fit: cover;
    width: 100%;
    height: 85vh !important;
    overflow: hidden;
}
.carousel-indicators{
    display: none;
}