.main {
  margin: 100px 0;
}
.wpb_wrapper {
  height: 100%;
}
.track-shipping-form {
  width: calc(100% - 100px);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: var(--color-main);
  position: relative;
  padding: 100px 50px;
}
.track-shipping-form:before {
  content: "";
  width: 90px;
  height: 50%;
  background: var(--color-dark);
  position: absolute;
  right: -50px;
  bottom: 0;
  transform: skewX(13deg);
}
.track-shipping-form .inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
.track-shipping-form .inner h3 {
  width: 100%;
  display: block;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 30px;
}
.track-shipping-form .inner .form-group {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
.track-shipping-form .inner input[type="text"] {
  border: none;
  width: 100%;
  margin-top: 5px;
}
/* input[type="text"] {
  width: 420px;
  max-width: 100%;
  height: 50px;
  padding: 0 30px;
  border: 1px solid #cecece;
} */
.track-shipping-form .inner .form-group:last-child {
  margin-bottom: 0;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
button[type="submit"] {
  height: 60px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: var(--color-dark);
  border: none;
  padding: 0 40px;
}
button[type="submit"] i {
  display: inline-block;
  margin-right: 8px;
  font-size: 18px;
  transform: translateY(2px);
}
.track-shipping-form:after {
  content: "";
  width: 200px;
  height: 100%;
  background: var(--color-main);
  position: absolute;
  right: -50px;
  top: 0;
  transform: skewX(-13deg);
}
/* SignIN */
.sininshipper {
  /* padding: 50px 10%; */
  /* width: 100vw; */
  
}
.signin_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark);
  padding: 20px 10%;
}

.signin_btn-form {
  padding: 10px 20px;
  background-color: var(--color-main);
  color: var(--color-dark);
  border: none;
  font-weight: 500;
}
.signin_form {
  padding-top: 5%;
  text-align: center !important;
  width: 100%;
}
.signin_form > h1 {
  font-size: 48px;
  font-weight: 800;
  color: black;
  margin-bottom: 20px;
  word-spacing: 8px;
}
.signin_form > p {
  font-size: 28px;
  font-weight: 400;
  color: black;
  margin-bottom: 10px;
  line-height: 1.4;
}
.signinshipper_footer {
  padding-top: 2%;
}
.signinshipper_footer-main {
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px !important;
}
.footer_left,
.footer_center,
.footer_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: auto;
}
.footer_left p {
  width: 100%;
  text-align: center;
}
.border-form-field {
  align-items: center;
  /* border-radius: 10px; */
  border: 1px solid black !important;
  height: 60px !important;
  padding: 15px;
  margin-bottom: 20px;
  width: auto;
}
.submit-btn {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-main);
  font-weight: 600;
  padding: 17.5px 20px;
  height: 65px !important;
  width: 420px;
  margin-bottom: 20px;
  cursor: pointer;
}
.footer_right {
  width: 420px;
  cursor: pointer;
}
.signin-google {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer_center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 420px;
}
.email-field,
.password-field {
  z-index: 1;
  border: none !important;
}
.input_container {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid black !important;
  height: 62px !important;
  margin-bottom: 20px;
  width: 420px;
  padding-right: 20px;
}
.horiz_line {
  width: 160px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.google_icon {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .signin_form {
    padding-top: 5%;
  }
  .signin_form > h1 {
    font-size: 32px;
    word-spacing: 5px;
  }
  .signin_form > p {
    font-size: 18px;
  }
  .signinshipper_footer {
    padding: 0;
  }
  .signinshipper_footer-main {
    padding: 0px;
  }
  .signin_btn-form {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
  }
  .signin_navbar {
    width: 100%;
    padding: 20px 5%;
  }
}

