.homeLayoutContainer {
  background-color: "red";
  width: 30%;
  height: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 50px;
}
.profileName{
  font-size: 12px;
}

.makeStyles-mapContainer-2
{
  height: 100vh!important;
}



/*
<iframe src="https://www.google.com/maps/d/embed?mid=18fyyXsqD4A-nY2T1KqHzve1z9qg&hl=en&ehbc=2E312F" width="640" height="480"></iframe>
*/