.homeLayoutContainer {
  background-color: "red";
  width: 30%;
  height: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 50px;
}
.profileName{
  font-size: 12px;
}